#root{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #0a0a0a, #180447);
}

body{
  overflow: hidden;
}

.stars{
  position: absolute;
  z-index: 1;
}

.astronaut{
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.astronaut img{
  max-width: 900px;
}

.planet-absolute{
  position: absolute;
  margin-left: 1000px;
}