#root{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #0a0a0a, #180447);
}

body{
  overflow: hidden;
}

.stars{
  position: absolute;
  z-index: 1;
}

.solar_system_showcase{
  position: absolute;
  z-index: 2;
}