.layer1{
    position: absolute;
    z-index: 25;
}

.planet1 img{
    width: 350px !important;
    top: 100px;
    left: 1200px;
    position: absolute;
}

.planet2 img{
    width: 250px !important;
    top: 70px;
    left: 400px;
    position: absolute;
}

.planet3 img{
    width: 250px !important;
    top: 400px;
    left: 1500px;
    position: absolute;
}

.planet4 img{
    width: 280px !important;
    top: 600px;
    left: 200px;
    position: absolute;
    
}

.planet5 img{
    width: 180px !important;
    top: 700px;
    left: 1620px;
    position: absolute;
}